---
import Card from "../Card/Card.astro";

import { Clock, MapPin, Ticket } from "lucide-astro";

import { getCalenderURL } from "@/lib/calender";
import LinkButton from "../LinkButton/LinkButton.astro";
import type { Show } from "@/lib/constants";

interface Props {
  show: Show;
}

const { show } = Astro.props;
const when = show.when;

let whenText;

if (typeof when === "string") {
  whenText = when;
} else {
  const today = new Date();
  const isToday =
    today.getDay() == when.getDay() &&
    today.getMonth() == when.getMonth() &&
    today.getFullYear() == when.getFullYear();

  if (isToday) {
    whenText =
      "Idag fra kl. " +
      when.toLocaleString("no-NB", {
        hour: "numeric",
        minute: "2-digit",
      });
  } else {
    whenText = when.toLocaleString("no-NB", {
      year: "numeric",
      month: "long",
      day: "numeric",
    });
  }
}
---

<Card class="!border-0 bg-primary text-white">
  <div class="grid grid-cols-1 gap-10 px-8 pb-6 pt-4 md:grid-cols-3">
    <div class="flex flex-col gap-2">
      <span>Hvor</span>
      <LinkButton
        href={show.where.mapLink}
        external={true}
        class="flex gap-3 shadow-md"
      >
        <MapPin />{show.where.name}
      </LinkButton>
    </div>

    <div class="flex flex-col gap-2">
      <span>Når</span>
      <LinkButton href={getCalenderURL()} class="flex gap-3 hover:shadow-md">
        <Clock />{whenText}</LinkButton
      >
    </div>

    <div class="flex flex-col gap-2">
      <span>Kjøp bilett</span>
      <LinkButton
        href="https://vier.live/c/abakusrevyen"
        external={true}
        class="flex gap-3 hover:shadow-md"
      >
        <Ticket />Ticketmaster</LinkButton
      >
    </div>
  </div>
</Card>
