---
import { Image } from "astro:assets";

interface Props {
  images: {
    src: string | ImageMetadata | Promise<{ default: ImageMetadata }>;
    alt: string;
  }[];
}

const { images } = Astro.props;
---

<div>
  <div
    class="group relative m-5 aspect-square w-auto max-w-full transition-transform hover:scale-105"
  >
    {
      images
        .slice(0, 3)
        .map(({ src, alt }, i) => (
          <div
            class:list={[
              "absolute left-0 top-0 aspect-square w-full overflow-hidden rounded-lg transition-transform",
              "first:-z-10 first:-rotate-12 last:-z-10 last:rotate-12",
              "group-hover:-translate-y-5 group-hover:first:-translate-x-5 group-hover:first:-rotate-[20deg] group-hover:last:translate-x-5 group-hover:last:rotate-[20deg]",
            ]}
          >
            {typeof src === "string" ? (
              <Image
                src={src}
                alt={alt}
                width={500}
                height={500}
                class="w-full"
                loading="eager"
                data-card-image={i}
              />
            ) : (
              <Image
                src={src}
                alt={alt}
                class="w-full"
                loading="eager"
                data-card-image={i}
              />
            )}
          </div>
        ))
    }
  </div>
  <h2 class="text-center text-lg transition-transform group-hover:scale-105">
    <slot />
  </h2>
</div>
