---
import PageLayout from "@/layouts/PageLayout.astro";

import Card from "@/components/Card/Card.astro";
import LinkButton from "@/components/LinkButton/LinkButton.astro";
import Title from "@/components/Common/Title.astro";
import { Image } from "astro:assets";

import { PREVIOUS_REVUES } from "@/lib/constants";
---

<PageLayout title="Tidligere Revyer">
  <div class="container mx-auto mb-12 p-3">
    <Title class="pb-2">Tidligere Revyer</Title>
    <ul
      class="grid grid-cols-1 gap-3 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
    >
      {
        PREVIOUS_REVUES.sort((a, b) => b.year.localeCompare(a.year)).map(
          (revue) => (
            <li>
              <Card class={revue.color + " !border-0"}>
                <Image
                  src={revue.image}
                  alt={`Logo for ${revue.name}`}
                  class="aspect-square rounded-t-md object-contain"
                  loading="eager"
                />
                <h2 class={revue.dark ? "text-white" : "text-black"}>
                  {revue.year}: {revue.name}
                </h2>
                <div class="flex gap-2">
                  {revue.links.map((link) =>
                    link.href ? (
                      <LinkButton
                        href={link.href}
                        class="flex-grow"
                        style={"secondary"}
                        external
                      >
                        {link.name}
                      </LinkButton>
                    ) : (
                      <i class="flex-grow cursor-not-allowed rounded-md border-2 border-gray-300 bg-gray-300 p-1 text-center text-black">
                        {link.name}
                      </i>
                    ),
                  )}
                </div>
              </Card>
            </li>
          ),
        )
      }
    </ul>
  </div>
</PageLayout>
