---
import Title from "@/components/Common/Title.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import { Image } from "astro:assets";
import { getCollection, getEntry, render } from "astro:content";

const om_oss = await getCollection("om_oss");
const groups = await getCollection("grupper");
const leaders = await getCollection("ledere");
---

<PageLayout title="Om oss">
  <div class="container mx-auto space-y-6">
    <Title>Om oss</Title>

    <ul>
      {
        om_oss.map(({ slug, data: { title } }) => (
          <li>
            <a href={`/om_oss/${slug}`}>{title}</a>
          </li>
        ))
      }
    </ul>

    <div class="flex gap-6">
      <ul>
        {
          groups.map(({ slug, data: { name, brief, logo } }) => (
            <li>
              <a href={`/grupper/${slug}`}>
                <Image src={logo} alt={`${name} logo`} />
                {name}
              </a>
            </li>
          ))
        }
      </ul>

      <ul>
        {
          leaders.map(({ slug, data: { name, image } }) => (
            <li>
              <a href={`/ledere/${slug}`}>
                <img src={image} alt={`${name} profile picture`} />
                {name}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</PageLayout>
