---
import PageLayout from "@/layouts/PageLayout.astro";

import MultiImageCard from "@/components/Card/MultiImageCard.astro";
import Card from "@/components/Card/Card.astro";
import LinkCard from "@/components/Card/LinkCard.astro";
import CardContent from "@/components/Card/CardContent.astro";
import CardDetail from "@/components/Card/CardDetail.astro";
import CardImage from "@/components/Card/CardImage.astro";
import Title from "@/components/Common/Title.astro";
import Timeline from "@/components/Timeline/Timeline.astro";
import TimelineDate from "@/components/Timeline/TimelineDate.astro";
import ProfilePicture from "@/components/Images/ProfilePicture.astro";
import { Image } from "astro:assets";

import { SHOWS } from "@/lib/constants";
import { getEntry } from "astro:content";
import { getCollection } from "astro:content";

import { Calendar, Pencil } from "lucide-astro";

const om_oss = await getCollection("om_oss");
const groups = await getCollection("grupper");
const leaders = await getCollection("ledere");

const now = new Date();
const spotlight = groups[Math.floor(Math.random() * groups.length)];
const spotlightLeader =
  spotlight.data.leaders && spotlight.data.leaders.length >= 1
    ? await getEntry(spotlight.data.leaders[0])
    : undefined;
---

<PageLayout title="Om oss">
  <div class="container mx-auto space-y-6 px-6">
    <Title
      >Om <span class="text-primary" id="about-branding">Abakusrevyen</span
      ></Title
    >

    <div
      class="mx-auto grid max-w-screen-sm grid-cols-2 gap-10 py-6 md:gap-16 md:px-6 lg:gap-24"
    >
      <a href="/grupper" class="group">
        <MultiImageCard
          images={groups.map((group) => ({
            src: group.data.logo,
            alt: `${group.data.name} logo`,
          }))}
        >
          Revygruppene
        </MultiImageCard>
      </a>

      <a href="/ledere" class="group">
        <MultiImageCard
          images={leaders.map((leader) => ({
            src: leader.data.image,
            alt: `${leader.data.name}`,
          }))}
        >
          Lederne
        </MultiImageCard>
      </a>
    </div>

    <div class="grid max-h-fit grid-cols-1 gap-6 md:grid-cols-2">
      <div class="order-3 space-y-3 md:order-1">
        <h2 class="text-lg font-bold">Forestillinger</h2>

        <Timeline class="w-full max-w-none md:w-auto md:max-w-fit">
          {
            SHOWS.map((show) => (
              <TimelineDate date={show.when}>
                <Card>
                  <CardContent class="px-3">
                    <div class="flex flex-col gap-1 md:flex-row">
                      {show.name} på
                      <a href={show.where.mapLink} class="underline">
                        {show.where.name}
                      </a>
                    </div>
                  </CardContent>
                </Card>
              </TimelineDate>
            ))
          }
        </Timeline>
      </div>

      <div class="order-2 flex flex-col gap-3">
        <h2 class="text-lg font-bold">Spotlight</h2>

        <LinkCard href={`/grupper/${spotlight.slug}`} class="flex">
          <div class="relative min-w-fit">
            <Image
              src={spotlight.data.logo}
              alt="Spotlight group logo"
              loading="eager"
              class="aspect-square h-full w-auto rounded-l-lg"
            />
            {
              spotlightLeader ? (
                <ProfilePicture
                  src={spotlightLeader.data.image}
                  width={500}
                  height={500}
                  loading="eager"
                  alt="Spotlight leader"
                  class="absolute bottom-1.5 right-1.5 h-1/2"
                />
              ) : undefined
            }
          </div>
          <CardContent class="py-3 pl-3 pr-1.5">
            <h3 class="font-medium">{spotlight.data.name}</h3>
            <p class="text-sm sm:text-base md:text-sm lg:text-base">
              {spotlight.data.spotlight ?? spotlight.data.brief}
            </p>
          </CardContent>
        </LinkCard>
      </div>
    </div>

    <div class="space-y-6">
      <h2 class="text-lg font-bold">Innlegg</h2>

      <ul class="space-y-3">
        {
          om_oss
            .sort((a, b) => (b.data.pubDate < a.data.pubDate ? 1 : -1))
            .map(
              ({
                slug,
                data: { title, pubDate, updateDate, description, image },
              }) => (
                <li>
                  <LinkCard href={`/om_oss/${slug}`}>
                    <div class="flex flex-col gap-3 rounded-lg border-[1px] border-gray-200 sm:flex-row dark:border-gray-500">
                      <CardImage
                        src={image}
                        alt={`${title} post`}
                        class="h-40 w-full overflow-hidden !rounded-t-md sm:h-48 sm:max-w-[25%] sm:!rounded-tr-none"
                      />

                      <CardContent class="flex flex-col justify-between px-1.5 py-3">
                        <h2 class="font-medium">{title}</h2>
                        <p>{description}</p>

                        <div class="flex flex-col gap-3 text-sm sm:flex-row sm:items-center">
                          <CardDetail>
                            <Calendar />
                            {pubDate.toLocaleString("NO-nb", {
                              day: "numeric",
                              month: "numeric",
                              year: "numeric",
                            })}
                          </CardDetail>
                          <CardDetail>
                            <Pencil />
                            {(updateDate ?? pubDate).toLocaleString("NO-nb", {
                              day: "numeric",
                              month: "numeric",
                              year: "numeric",
                            })}
                          </CardDetail>
                        </div>
                      </CardContent>
                    </div>
                  </LinkCard>
                </li>
              ),
            )
        }
      </ul>
    </div>
  </div>
</PageLayout>
