---
import LinkCard from "../Card/LinkCard.astro";
import CardContent from "../Card/CardContent.astro";
import CardDetail from "../Card/CardDetail.astro";
import Grid from "../Common/Grid.astro";
import ProfilePicture from "../Images/ProfilePicture.astro";

import { getCollection } from "astro:content";

const groups = await getCollection("grupper");
---

<Grid>
  {
    groups.map(({ slug, data: { name, brief, logo } }) => (
      <LinkCard class="md:h-full" href={`/grupper/${slug}`}>
        <CardContent>
          <div class="flex gap-3 font-medium">
            <ProfilePicture class="h-6" src={logo} alt={`${name} logo`} />
            {name}
          </div>
          <CardDetail>{brief}</CardDetail>
        </CardContent>
      </LinkCard>
    ))
  }
</Grid>
