---
import { getCollection } from "astro:content";
import Card from "../Card/Card.astro";
import CardDetail from "../Card/CardDetail.astro";
import { Image } from "astro:assets";
import Grid from "../Common/Grid.astro";

const groups = await getCollection("grupper");
---

<Grid>
  {
    groups.map(({ slug, data: { name, brief, logo } }) => (
      <a href={`/grupper/${slug}`}>
        <Card>
          <div class="flex gap-3 font-medium">
            <Image class="w-6 rounded-full" src={logo} alt={`${name} logo`} />
            {name}
          </div>
          <CardDetail>{brief}</CardDetail>
        </Card>
      </a>
    ))
  }
</Grid>
